<?php

if ( ! defined( 'ABSPATH' ) ) exit; // Exit if accessed directly

/**
 * AO Kranj wordpress plugin settings
 */
define('AOKRANJ_PLUGIN_DEBUG', true);

/**
 * AO Kranj tables
 */
define('AOKRANJ_TABLE_VZPONI', 'ao_vzponi');

/**
 * AO Kranj old website settings
 */
define('AOKRANJ_OLD_DIR', '/path/to/old/aokranj');
define('AOKRANJ_OLD_DB_NAME', 'aokranj_old');
define('AOKRANJ_OLD_DB_USER', 'user');
define('AOKRANJ_OLD_DB_PASSWORD', 'pass');
define('AOKRANJ_OLD_DB_HOST', 'localhost');
define('AOKRANJ_OLD_DB_CHARSET', 'utf8');
define('AOKRANJ_OLD_DB_COLLATE', '');
