###
### URL REWRITES
###

RewriteEngine   On



### We only support production and development on root of virtual host
#
RewriteBase   /



# This is here for system status logger
RewriteRule ^/?sys/     -       [L]



### Redirects for old content
#
# Let's keep 302 for now
#
RewriteCond   %{QUERY_STRING}     ^id=([0-9]+)
RewriteRule   ^/?utrinek.php$     /redirect-utrinek.php?id=%1   [R=302,L]

RewriteCond   %{QUERY_STRING}     ^id=([0-9]+)
RewriteRule   ^/?reportaze.php$   /redirect-reportaza.php?id=%1   [R=302,L]

RewriteCond   %{QUERY_STRING}     ^id=([0-9]+)
RewriteRule   ^/?page.php$        /redirect-page.php?id=%1   [R=302,L]

RewriteCond   %{QUERY_STRING}     ^$
RewriteRule   ^/?reportaze.php$   /category/reportaze   [R=302,L]



### Inform /forum users of its demise
#
RewriteCond   %{REQUEST_URI}   !^/forum-deceased-notice.php
RewriteRule   ^/?forum           /forum-deceased-notice.php   [L]



### Redirect /myao.php to WP login
#
RewriteRule   ^/?myao.php       /wp-login.php   [R=302,L]



### Disable /xmlrpc.php
#
# This file is a security liability.
# The reason we keep this file around is because WordPress updates keep bringing
# it back. Therefore, we simply redirect to a substitute handler.
#
RewriteRule   ^/?xmlrpc.php       /xmlrpc-disabled.php   [L]



### Fetch missing files from /wp-content/upload
#
# On a non-production clone, if a request hits 
#
RewriteCond     %{HTTP_HOST}            !^www\.aokranj\.com$
RewriteCond     %{REQUEST_URI}          ^/wp-content/uploads/
RewriteCond     %{REQUEST_FILENAME}     !-f
RewriteCond     %{REQUEST_FILENAME}     !-d
RewriteRule     ^/?(.+)$                /fetch-upload-from-prod.php?path=$1     [L]



### Final redirect to WP handler
#
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
