###
### URL REWRITES
###

RewriteEngine   On



### We only support production and development on root of virtual host
#
RewriteBase   /



### Redirects for old content
#
# Let's keep 302 for now
#
RewriteCond   %{QUERY_STRING}     ^id=([0-9]+)
RewriteRule   ^/?utrinek.php$     /redirect-utrinek.php?id=%1   [R=302,L]

RewriteCond   %{QUERY_STRING}     ^id=([0-9]+)
RewriteRule   ^/?reportaze.php$   /redirect-reportaza.php?id=%1   [R=302,L]



### Inform /forum users of its demise
#
RewriteCond   %{REQUEST_URI}   !^/forum-deceased-notice.php
RewriteRule   ^/?forum           /forum-deceased-notice.php   [L]



### Final redirect to WP handler
#
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
