
.aokranj-footer {
  background: $white;
  padding: 4rem 0;

  // title
  .footer-title {
    margin-bottom: 1.4rem;
    letter-spacing: .5px;
    font-size: $font-size-base;
    color: theme-color('dark-blue');
    text-transform: uppercase;
  }

  // info
  .footer-info-widget {
    font-size: $font-size-sm;
    // logo
    .footer-title {
      padding: 0;
      margin: 0 0 1.5rem 0;
      width: 150px;
      height: 46px;
      background-size: 150px 46px;
      background-position: center;
      background-repeat: no-repeat;
      //background-image: url(../images/logo/aokranj-logo-blue.svg);
      //background-image: url(../images/logo/aokranj-logo-footer.svg);
      @include media-breakpoint-down(sm) {
        width: 200px;
        height: 62px;
        background-size: 200px 62px;
      }
    }
    p {
      margin-bottom: 1rem;
    }
  }

  // navigation
  .footer-nav-widget {
    justify-content: space-between;
    ul {
      list-style: none;
      padding: 0;
      li {
        font-size: $font-size-sm;
        a {
          display: inline-block;
          padding: .2rem 0;
          color: $gray-900;
          &:hover, &:active {
            color: theme-color('primary');
          }
        }
      }
    }
  }

  // logos
  .footer-logo-widget {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    max-width: 700px;
    a {
      margin: 0 1rem 1rem 0;
    }
  }

  // responsive

  @include media-breakpoint-down(sm) {
    .footer-title {
      margin-top: 2rem;
    }
    .footer-logo-widget {
      margin-top: 2rem;
      max-width: 500px;
      .widget_media_image {
        margin: .5rem;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .container {
      max-width: none;
    }
  }

  @include media-breakpoint-only(md) {
    .footer-nav-widget {
      .widget_nav_menu:nth-child(1),
      .widget_nav_menu:nth-child(2) {
        margin-bottom: 2rem;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .container {
      padding: 0 2rem;
    }
  }

  @include media-breakpoint-up(lg) {
    .footer-nav-widget {
      .widget_nav_menu:first-child {
        max-width: 130px;
      }
    }
  }

}
