
.admin-bar {
  position: relative;
  margin-top: 32px;
  @media (max-width: $admin-bar-breakpoint) {
    margin-top: 46px;
    .aokranj-header {
      .navbar-collapse {
        padding-top: 8rem;
      }
    }
  }
  @media (max-width: 600px) {
    #wpadminbar {
      margin-top: -46px;
    }
  }
}

.aokranj-header {

  // base
  .navbar-brand {
    position: relative;
    z-index: 10;
    //width: 222px;
    //height: 66px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: $h3-font-size;
    font-family: $headings-font-family;
    background-size: 222px 66px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .navbar-nav {
    .nav-link {
      padding: .4rem 0;
      font-size: $font-size-base * 0.9;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }
  }
  .navbar-toggler {
    position: relative;
    z-index: 10;
  }
  .navbar-collapse {
    justify-content: flex-end;
    z-index: 5;
  }

  // transparent
  &.transparent {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
    .navbar-brand {
      //background-image: url(../images/logo/aokranj-logo-white.svg);
    }
    .navbar-nav {
      .nav-link {
        color: theme-color('primary');
        &:hover, &:active {
          color: theme-color('secondary');
        }
      }
    }
  }

  // plain
  &.plain {
    border-bottom: 1px solid theme-color('border');
    .navbar-brand {
      //background-image: url(../images/logo/aokranj-logo-blue.svg);
    }
    .navbar-toggler {
      &-icon span {
        background: theme-color('primary');
      }
    }
    .navbar-nav {
      .nav-link {
        color: theme-color('navbar');
        &:hover, &:active {
          color: theme-color('primary');
        }
      }
    }
  }

  // mobile
  @include media-breakpoint-down(md) {

    // base
    .navbar-brand {
      //width: 200px;
      //height: 61px;
      background-size: 200px 61px;
    }
    .navbar-toggler {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: .5rem;
      border: none;
      border-radius: 0;
      background-color: transparent !important;
      // header menu icon size
      $menu-icon-size: 30px;
      $menu-icon-unit: $menu-icon-size / 5;
      // menu icon
      .navbar-toggler-icon {
        border: none;
        width: $menu-icon-size;
        height: $menu-icon-size;
        top: 0;
        right: 0;
        display: inline-flex;
        position: relative;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
        span {
          display: block;
          position: absolute;
          height: $menu-icon-unit - 4;
          width: 100%;
          background: theme-color('primary');
          //border-radius: $menu-icon-unit - 1;
          opacity: 1;
          left: 0;
          transform: rotate(0deg);
          transition: .25s ease-in-out;
          &:nth-child(1) { top: 0px; }
          &:nth-child(2) { top: $menu-icon-unit*2; }
          &:nth-child(3) { top: $menu-icon-unit*2; }
          &:nth-child(4) { top: $menu-icon-unit*4; }
        }
      }
      // expanded menu icon
      &:not(.collapsed) {
        .navbar-toggler-icon {
          span {
            &:nth-child(1) { top: $menu-icon-unit*2; width: 0%; left: 50%; }
            &:nth-child(2) { transform: rotate(45deg); }
            &:nth-child(3) { transform: rotate(-45deg); }
            &:nth-child(4) { top: $menu-icon-unit*2; width: 0%; left: 50%; }
          }
        }
      }
    }
    .navbar-collapse {
      position: fixed;
      display: flex;
      align-items: flex-start;
      top: -100%;
      left: 0;
      right: 0;
      height: 100%;
      padding-top: 62px;
      background-color: rgba(255,255,255,0.9);
      transform: translate3d(0, 0, 0);
      transition: transform .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    .navbar-nav {
      width: 100%;
      height: 100%;
      overflow: auto;
      .nav-link {
        padding: 1.2rem;
        font-family: $headings-font-family;
        font-size: $h6-font-size;
        font-weight: 600;
        letter-spacing: 1px;
        opacity: 0;
      }
      .dropdown-menu {
        border: none;
        .nav-link {
          font-size: .875rem;
          font-weight: 400;
          padding: .5rem .5rem .5rem 3rem;
          color: theme-color('navbar');
        }
      }
    }

    // transparent
    &.transparent {
      .navbar-toggler {
        &-icon span {
          background-color: #fff;
        }
      }
    }

    // plain
    &.plain {
      .navbar-nav {
        .nav-link {
          color: darken(theme-color('secondary'), 10%);
          &:hover,&:active {
            //color: theme-color('primary');
            color: darken(theme-color('secondary'), 10%);
          }
        }
      }
      .dropdown-menu {
        .nav-link {
          color: theme-color('navbar');
        }
      }
    }

    // expanded
    &.expanded {
      .navbar-brand {
        //background-image: url(../images/logo/aokranj-logo-blue.svg);
      }
      .navbar-toggler {
        &-icon span {
          background: theme-color('primary');
        }
      }
      .navbar-collapse {
        transform: translate3d(0, 100%, 0);
      }
      .navbar-nav {
        .nav-link {
          opacity: 1;
          transform: translate3d(0, 0, 0)  scale3d(1, 1, 1);
        }
      }
    }

    // landscape
    @media (orientation: landscape) {
      /*
      .navbar-collapse {
        justify-content: center;
      }
      .navbar-nav {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 720px;
        .nav-link {
          padding: 2rem 1rem;
        }
      }
      */
    }
  }

  // desktop
  @include media-breakpoint-up(lg) {
    padding-top: 1rem;
    padding-bottom: 1rem;

    // base
    .navbar {
      padding-left: 0;
      padding-right: 0;
    }
    .navbar-nav {
      .nav-item {
        padding: 0;
      }
      .nav-link {
        padding: 1rem .7rem;
      }
      .dropdown-menu {
        .nav-link {
          padding: .5rem 1rem;
        }
      }
    }

    .dropdown-menu {
      white-space: nowrap;
    }

    // transparent
    &.transparent {
      .navbar-nav {
        .nav-link {
          color: #fff;
          border-radius: 3px;
          &:hover, &:active {
            color: #fff;
            background-color: rgba(255,255,255,0.15);
          }
        }
      }
    }

    // plain
    &.plain {
      .navbar-nav {
        .nav-item {
          &.active,
          &.current_page_ancestor {
            > a {
              color: theme-color('primary');
            }
          }
        }
      }
    }

  }

  // extra large
  @include media-breakpoint-up(xl) {
    .navbar-nav {
      .nav-link {
        padding: .5rem 1rem;
      }
    }
  }

}
